#contact {
  .email-at {
    margin: 1.5em 0 2em;
  }

  .textarea {
    font-family: _font(family-fixed) !important;
    font-size: 1em !important;
    line-height: 1.7;
    color: _palette(fg);
    min-height: 8em;
  }

  .contact-command {
    font-family: _font(family-fixed);
    color: _palette(accent);
    margin-bottom: 1em;
  }
}

.inline {
  min-width: 150px;
  display: inline-block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: right;
}
