/* Resume */

#resume {
  .link-to {
    position: relative;
    top: -10em;
  }

  .link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1.25em;
  }

  .link-container h4 {
    text-decoration: none;
    border-bottom: none;
    display: inline;
    margin: 0;

    a {
      padding: 0;
      margin: 0;
      font-family: _font(family-fixed);
    }
  }

  .courses {
    padding-top: 2em;

    .title {
      text-align: left;
    }

    .course-list {
      text-align: left;

      h4 {
        white-space: nowrap;
      }
    }
  }

  .skills {
    margin-top: 0;
    margin-bottom: 3em;
    color: _palette(fg);

    .title {
      text-align: left;
    }
  }

  .certifications {
    padding: 1.5em 0 2em;
    margin: 1em 0;
    font-size: 0.95em;

    .title {
      text-align: left;
    }
  }
}

.education {
  padding: 1.5em 0;
  margin: 1em 0;

  .title,
  .degree,
  .school {
    text-align: left;
  }
}

.daterange {
  margin-bottom: 0.2em;
}

.degree-container {
  h4 {
    font-weight: normal;
  }

  .degree {
    margin-bottom: 0.35em;
    text-transform: none;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0;
    color: _palette(fg-bold);
  }

  .school {
    text-transform: none;
    padding-top: 0.2em;
    margin-bottom: 1em;
    color: _palette(fg-light);
    font-family: _font(family-fixed);
    font-size: 0.85em;
  }
}

.courses .course-number {
  font-family: _font(family-fixed);
  display: inline;
  color: _palette(accent);
}

.courses .course-name {
  display: inline;
  font-size: 0.95em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2;
  text-transform: none;
}

.courses ul li {
  display: inline;
}

.course-dot {
  display: inline;
}

@include breakpoint(small) {
  .course-dot {
    display: none;
  }
  .course-container a {
    display: block;
  }
}
