/* Wrapper */

#wrapper {
  @include vendor("display", "flex");
  @include vendor("flex-direction", "row-reverse");
  @include vendor("transition", "opacity #{_duration(menu)} ease");
  margin: 0 auto;
  max-width: 100%;
  opacity: 1;
  padding: (_size(section-spacing) * 1.5);
  padding-top: 5.5em;
  width: 90em;
  position: relative;
  z-index: 1;

  body.is-menu-visible & {
    opacity: 0.15;
  }

  @include breakpoint(xlarge) {
    padding: _size(section-spacing);
  }

  @include breakpoint(large) {
    display: block;
  }

  @include breakpoint(small) {
    padding: 4.5em 1em 1.5em;
    width: 100%;
  }

  body.single & {
    display: block;
  }
}
